accelerate
aiohttp
aiosignal
annotated-types
async-timeout
attrs
bitsandbytes
certifi
charset-normalizer
datasets
deepspeed;sys_platform!='win32'
diffusers
peft
dill
einops
filelock
frozenlist
fsspec
hjson
huggingface-hub
idna
importlib_metadata
Jinja2
MarkupSafe
mpmath
multidict
multiprocess
networkx
ninja
numpy
pandas
pillow
psutil
py-cpuinfo
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
pynvml
python-dateutil
pytz
PyYAML
regex
requests
safetensors
six
sympy
tokenizers
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
zipp
insightface
opencv-python
onnxruntime;sys_platform == "win32"
onnxruntime-gpu;sys_platform != "win32"